body {
    background-color: hsl(0, 97%, 58%);
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 4px solid black;
}
.flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.div1, .div2, .div3, .div4, .div5, .div6 {
    width: 100%;
    height: 100px;
}
.div1 {
    background-color: greenyellow;
}
.div2 {
    background-color: rgb(47, 238, 255);
}
.div3 {
    background-color: rgb(255, 106, 47);
}
.div4 {
    background-color: rgb(161, 47, 255);
}
.div5 {
    background-color: rgb(69, 31, 164);
}
.div6 {
    background-color: rgb(241, 251, 66);
}

@media (min-width: 768px) {
    .flex-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .flex-container {
        grid-template-columns: repeat(6, 1fr);
    }
}